<%= render "layouts/errors", :object => @post %>

<%= simple_form_for(@post, html: { class: 'form-vertical'}) do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :content, "Content" %>
    <%= f.text_area :content, class: 'form-control' %>

    <%= f.association :tags, :as => :check_boxes %>
    <p><%= link_to 'Create a New Tag', new_tag_path %></p>

  <%= f.button :submit, class: 'form-control' %>
<% end %>
