<h2><%= @post.title %></h2>
<p><%= @post.created_at.to_formatted_s(:short) %></p>
<hr>
<p><%= @post.content %></p>
<hr>
<h3>Tags:</h3>

<% @post.tags.each do |tag| %>
  <p><span><%= link_to '', tag_path(tag), :method => 'delete', class: 'glyphicon glyphicon-remove'%></span> <%= link_to "#{tag.description}", tag_path(tag)%></p>
<% end %>

<hr>
<% if @post.comments.any? %>
  <% @post.comments.each do |comment| %>
  <ul style="list-style:none;">
    <li><h4><%= comment.name %></h3></li>
    <li><%= comment.content %>
    <% if current_user %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment.id), class: 'btn btn-small btn-default' %>
    <% end %>
    <li></li>
  </ul>
  <% end %>
<% else %>
  <h3>No comments yet. Sign up or log in to leave one.</h3>
<% end %>

<% if current_user %>
  <%= link_to 'Leave a Comment', new_post_comment_path(@post), class: 'btn btn-small btn-success'%>
<% end %>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-small btn-default' %>
<%= link_to 'Delete Post', post_path(@post), :method => 'delete', class: 'btn btn-small btn-danger' %>
<%= link_to 'Add a Tag', new_post_tag_path(@post), class: 'btn btn-small btn-info' %>
