<h2><%= @post.title %></h2>
<p><%= @post.created_at.to_formatted_s(:short) %></p>
<hr>
<p><%= @post.content %></p>
<hr>
<h3>Tags:</h3>

<% @post.tags.each do |tag| %>
  <p><span><%= link_to '', tag_path(tag), :method => 'delete', class: 'glyphicon glyphicon-remove'%></span> <%= link_to "#{tag.description}", tag_path(tag)%></p>
<% end %>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-small btn-default' %>
<%= link_to 'Delete Post', post_path(@post), :method => 'delete', class: 'btn btn-small btn-danger' %>
<%= link_to 'Add a Tag', new_post_tag_path(@post), class: 'btn btn-small btn-info' %>
