<!DOCTYPE html>
<html>
<head>
  <title>Alyssa Et Cetera</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Alyssa et Cetera</h1>
      <p>The blog and portfolio of a classicist turned coder.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Portfolio</a></p>
    </div>
    <%= yield %>
  </div>
<br>
<br>
<br>
<br>
<br>
  <div class='navbar navbar-default navbar-fixed-bottom'>
    <%= yield(:navbar) %>
    <a class="navbar-brand" href="/">Home</a>
      <ul class="nav navbar-nav">
        <li><a href="/posts">View All Posts</a></li>
        <% if current_user %>
          <li><a href="/log-out">Log Out <%= current_user.email %></a></li>
        <% else %>
          <li><a href="/log-in">Log In</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        <% end %>
      <ul>
  </div>
</body>
</html>
